<br><footer class=" text-center text-lg-start">

	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© CU 2025 :
		<a class="text-dark" href="https://www.curbano.fr">Carmela</a>
	</div>
	<!-- Copyright -->
</footer>
