{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
<div class = beer1>
   <br><br> <h2>Ajouter un nouveau ticket</h2>
<br><br><br><br><br><br><br>
    {{ include('ticket/_form.html.twig') }}

    <a href="{{ path('app_ticket_index') }}"><button class="btn btn-info">{% trans %}Retour à la liste{% endtrans %}</button> </a> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}
