{% extends 'base.html.twig' %}
{% block body %}
<br><br>
<h1>Cette page n'existe pas &nbsp; &nbsp;<i class="fa-solid fa-exclamation fa-2xl"></i></h1>
 <br>
<a class="new" href="{{path('app_home')}}">Retour à la page d'accueil</a>

{% endblock %}
